body{
    background-image: url("../images/login.jpeg");
}

form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50%; 
    justify-content: center;
    margin-top: 40px;
    background-color: #f1f1f1;
}


.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

/* Full-width inputs */
input[type=text], input[type=password]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.login-form {
  padding: 20px;
}

.register-form{
    padding: 20px;
}

.helper{
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: 20px;
}

.register{
    margin-bottom: 10px;
}

h4{
    margin-top: 20px;
}

#error-message{
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

#message{
  margin: 15px;
  font-weight: bold;
  text-align: center;
}

textarea{
  margin-bottom: 20px;
  width:100%;
  height: 100px;
}

.captcha{
  text-align: center;
}

#remember{
  margin-top: 20px;
  margin-bottom: 10px;
}

#avatar{
  margin-top: 20px;

}

p{
  text-align: center;
}

a{
  text-align: center;
}